[2017-07-19 07:52] FranckFreiburger opened #1 "add support of MultiCompiler mode"
Hi,

I use webpack in [MultiCompiler mode](https://webpack.js.org/api/plugins/compiler/#multicompiler) to compile my 3 bundles: client-side-bundle, server-side-bundle and server-bundle.
server-side-bundle and server-bundle run on the server in the same nodejs instance but does not have the same npm dependencies however, in the final `package.json` file, I expect to have all deps merged (server-sid

[2017-07-19 09:57] lostpebble commented on #1
Interesting... I've never worked with a multi-compile of Webpack like that. I can see why you would like the dependencies merged for those two configs.

This was my first plugin, and the inner workings of Webpack can be quite a joy ride. But I'll be happy to take a closer look and see if it's an easy thing to add in as an option. From my base understand right now, it looks like it might not be tha

[2017-07-19 10:10] FranckFreiburger commented on #1
After some investigations, I have found the following clues:

- Webpack treats each configuration as an isolated process but when multi-compiler is involved, `webpack([...])` returns a MultiCompiler instance that supports `plugin('done', ...` when all compilations are done.

- MultiCompiler also has a `compilers` property that contains each individual compiler instance, which can be used normally

[2017-07-19 10:22] FranckFreiburger commented on #1
... this implies that `package.json` cannot be emitted on a per-compilation basis

[2017-07-19 10:50] lostpebble commented on #1
Hmm.. okay. I'll take a closer look soon enough and see if there might be a way specifically for MultiCompiler configurations. Thanks for the clues.

You're welcome to check it out yourself and submit a pull request too, seeing as you know a little more about it at the moment 🙂

I'm curious why you are not combining those two configurations into one though? If they're using the same dependencies,

[2017-07-19 11:50] FranckFreiburger commented on #1
Ok, I will post my current implementation.

I am setting up a server-side-rendering framework based on vue.js.
client-side-bundle and server-side-bundle are automatically generated according the web application and the server-bundle is the part that run express and handle client-side-bundle and server-side-bundle.
Dependencies of server-side-bundle and server-bundle have common entries but are not

[2017-07-19 17:15] lostpebble commented on #1
Okay I see. I run a lot of server-side rendering stuff as well, only with React. I just bundle all my server-side stuff that does the client rendering stuff along with the regular server bundle - since they are only ever going to be run together anyway. But I'm not too clued up on Vue, so perhaps there is something I'm missing that requires you to bundle that part separately.

You say you are crea

[2017-07-20 07:22] FranckFreiburger commented on #1
I think it is possible for me to bundle all server-side stuff in a single bundle but currently splitting into two bundles allow me to update only the webapp code without restarting the server.
My framework is similar to next.js and is not very pluggable since it fits my web application development needs only (at least at the moment)

[2017-07-20 08:43] lostpebble commented on #1
Ahhh... I see. Okay that's actually quite a cool use case. I usually just restart the server if I make changes that I would really like to see server-rendered while I'm developing. Mostly I don't restart the server though, and I just let the client code re-hydrate over the stale server-rendered content and continue developing the client stuff on top of that. For me, testing how things are server-r

[2017-12-08 20:42] mjmasn opened #4 "TypeError: Cannot read property 'length' of undefined"
I'm getting the following error in webpack watch mode. The first run works fine but after editing a file it crashes.

[code]

The line in question is:
[code]

In my case seems on the second run the `nonWebpackModuleNames` array and therefore `moduleName` ends up containing `path` (as in the built-in node module) but the problem is reproducible with any other built in module like `fs` that happens

[2017-12-11 08:32] lostpebble commented on #4
@mjmasn I like the changes you made which double check if there is a dependency in the source package.json before adding it to the list to be placed in the generated package.json. Usually those dependencies with undefined versions were cleared out at a later stage.

But from what I can see, that line that's causing the error seems to be unrelated, because it's in the part of the plugin that adds e

[2017-12-11 08:40] lostpebble commented on #4
Re-opening until we're sure those changes fixed the root cause of this problem.

[2017-12-11 08:46] lostpebble commented on #4
Also, I'd like to add - while it's by no means dismissing this issue and I'd like to get to the bottom of it - that generating a new package.json probably should be done in a single production build step? That's the way I've always been testing this plugin on my side.

I'm unsure of the benefits of doing it while watching. Unless you only have a single webpack configuration and don't want to split

[2017-12-11 11:02] mjmasn commented on #4
@lostpebble fair points, and thanks for merging the PR. I am trying to remember why the `package.json` is being generated on watch because it isn't actually used for development. I think it was just for testing when I initially added the package without running a production build each time. The usefulness of doing that now is probably less clear. I actually have 4 webpack configs for dev client/se

[2017-12-13 12:27] lostpebble commented on #4
Ahh, that's actually quite an interesting way to interact with the plugin. Never actually thought about doing that, but it makes complete sense - also can get some nice IDE auto-completion for `package.json` values that way.

Good find. Yes that is most probably it, because it's assigning to that same object (mutating that object) instead of creating a new one, it is persisting on the next build c

[2017-12-13 12:32] #4 closed

[2018-03-14 17:35] TroyCoombs opened #8 "How to include shared folders?"
We have a mono-repo where we have code in one folder for a service, but some of the classes implement base classes in another shared folder.   What we're experiencing now is that the package.json is not including dependencies it needs in the shared folder.  How do I handle this?

[2018-03-14 20:11] lostpebble commented on #8
Hi @TroyCoombs

So, there is an option that I've included now but I haven't documented yet. It is in the release notes here though: https://github.com/lostpebble/generate-package-json-webpack-plugin/releases/tag/v0.4.0

In my case I was also working with a mono repo and needed this functionality. Basically you can link extra `package.json` files from which to pull dependency information from.

Doe

[2018-03-15 00:29] TroyCoombs commented on #8
Thanks for the reply @lostpebble. Not sure if it's the same but all our dependencies in the all apps are added to the main package.json of the mono-repo.  For example we have an app called 'AppA', ánother'called  'ÁppB, both apps add dependencies to the main package.json in the root of the mono-repo project.  We have a 3rd project in the mono-repo called 'common' which has shared code use by the o

[2018-03-15 09:30] lostpebble commented on #8
Okay, I think I have some idea of what you're doing.

Basically this is my current configuration:

[code]

As you can see I'm adding all the extra `package.json` files from my other projects. In your case, it sounds like you've put all your dependencies in the single root `package.json` instead of keeping them in the separate projects, `AppA`, `AppB` and `common`? In that case you might instead pu

[2018-04-03 17:21] lostpebble commented on #8
No response for a while, so gonna close this. Please let me know if you're still struggling with this - I think that the `extraSourcePackageFilenames` option along with white-listing internal project dependencies should do the trick.

[2018-08-31 08:44] eyaylagul commented on #1
+1

[2020-04-29 15:41] rettgerst opened #10 "transient dependencies and externals"
I am using this plugin in conjunction with webpack-node-externals and it seems that this setup has poor support for transient dependencies (aka, sub-dependenices).

I am building a distribution build of our serverside app which uses several private modules namespaced with '@apagoinc'. I want our private modules included in the bundle and everything publicly available from npm included in the gener

[2020-05-30 20:26] lukebellamy053 commented on #10
I am also looking for this feature otherwise adding the dependencies to the webpack config seems to defeat the purpose

[2020-06-01 14:50] lostpebble commented on #10
I've had similar issues before with transient dependencies and its something I would like to solve better with this library.

Unfortunately at the moment I have loads of other work keeping me busy, so if anyone would like to look at it it would be greatly appreciated - otherwise I might be able to get to it in the next few weeks.

I think the issue lies with figuring out how to get the correct ver

[2020-06-17 06:47] moshest opened #11 "Feature: Get exact versions from the actual packages installed"
Sometimes you want the `package.json` to behave as `package-lock.json` and only have the exact version that actually installed on the project.

I managed to create a small snippet that generate that and i would like to merge it in this package with a non-breaking flag on the options object.
[code]

[2020-06-17 06:55] moshest opened #12 "Feature: Allow provide base package.json file"
It would be nice to simplify configuration by allowing the user to provide a path to base `package.json` file and inherit all configuration from this file.

For example:

[code]

This will allow generating files more easily and let the user to decide if we want to include the original `devDependencies` as well (default: `false`).

[2020-06-17 07:16] moshest opened #13 "Feature: Allow adding hard coded dependencies"
Sometime there is dependencies that are not imported but required for production environment. I think we need an option to allow hard coded dependencies:

[code]

[2020-06-17 11:11] lostpebble commented on #11
Hi @moshest , thanks for opening up this, and those other issues - I'm liking the proposals in all of them!

What your code is doing here is exactly the direction I was thinking of taking in this issue (https://github.com/lostpebble/generate-package-json-webpack-plugin/issues/10#issuecomment-636903301)

I'm happy to merge this in the current library, with an options flag. I was also thinking of do

[2020-06-17 11:14] lostpebble commented on #12
Totally agree. I see a lot of people already use the library in this way, so it makes complete sense. Also, nice to have the option for adding the dev dependencies directly as well - as often they're important in builds down the line, or even just executing the app itself.

As mentioned in the other issue, would be nice to eventually have the choice put directly into the single options argument -

[2020-06-17 11:16] lostpebble commented on #13
Yep, there already is [this kind of thing](https://github.com/lostpebble/generate-package-json-webpack-plugin#adding-modules-outside-of-your-code-build-modules-etc) but it might not be completely straightforward and it has seemed to be a little on-and-off at times for me.

Being more deliberate about it like this is definitely a good move.

[2020-06-17 15:37] lostpebble commented on #11
Thanks so much @moshest ! The changes look great. Sorry for late merge, I was out for the afternoon.

Just deployed `1.1.0` - hopefully should all be working smoothly.

[2020-06-17 15:40] lostpebble commented on #11
Oops seems like I've run into an issue. Didn't test it all properly. Will need to quickly fix and deploy a patch version.

` TypeError: Cannot destructure property 'additionalDependencies' of '(intermediate value)(intermediate value)(intermediate value)' as it is undefined.`

---

Just deployed `1.1.1` with the fix.

[2020-06-17 15:59] lostpebble commented on #10
Hi guys, please try out `1.1.1` - providing the option `useInstalledDependencies: true` - this will rather look to your `node_modules` directly for version numbers , and _should_ solve this issue of transient dependencies.

[2020-06-17 21:35] #13 closed

[2020-06-17 21:36] moshest commented on #11
Pushed another fix here #17

[2020-06-17 21:36] #11 closed

[2020-06-23 07:52] minkeshj opened #19 "Allow to create directory if not exists"
Currently the directory where package.json needs to be placed if that does not exists then it throws following error
`Error: ENOENT: no such file or directory`. We should have a check if the directory does not exists then create it first then create package.json

[2020-06-23 08:11] lostpebble commented on #19
Hi @minkeshj ,

Will need to look into that.

I was under the impression that webpack takes care of all that. Since all this plugin is doing is generating a `package.json` file, which is spat out into whatever destination folder you've set with your webpack config. It just creates an "asset" which will be available in the final output.

Can you track down exactly where that error is happening? Is

[2020-10-05 15:19] hdragos opened #20 "Peer dependencies in base package.json file"
Greetings.

So far I have been successfully using this plugin in order to generate widgets from a given entrypoint in a bigger application with multiple dependencies. So far so good, but now that I exported the widgets, I've been dealing with a new problem: libraries such as `react` are listed in `dependencies: {}`. Let's say I want to list them as `peerDependencies: {}` in the `base.package.json`

[2020-10-05 16:11] lostpebble commented on #20
Hi @hdragos ,

Okay, I can see how this is an issue. I'm not too sure about `useHardcodedDependencies` though - it sounds a little ambiguous and perhaps not very obvious as to what it might do in certain situations.

What about an option such as `ignoreDependencies: ["react", "react-dom"]` ? This will ensure that any encountering of these dependencies will just be ignored and not merged into the f

[2020-10-05 16:18] #10 closed

[2020-10-06 06:23] hdragos commented on #20
I really like the `ignoreDependencies` option. It looks more versatile to me and seems to give less of a headache to users, as they won't need to ask the question: "Ok, which dependencies take precedence? The ones in `base.package.json` or the ones found by the plugin?"

Initially, I thought that the `useHardcodedDependencies` mechanism would work pretty much how you described the second option: t

[2020-10-07 13:58] hdragos commented on #20
@lostpebble
After a little bit more work on this feature, I realised that there is a big problem with `ignoreDependencies`:

Let's say that you want your project to always have `react` (or any library for that matter) to be included as a `peerDependency` or `devDependency`. With the `ignoreDependencies` approach you would have something like a `base.package.json` file with all the dependencies (`n

[2020-10-08 09:19] lostpebble commented on #20
Thanks @hdragos , will review and merge soon. I did see some basic things which could cause issues - I'll add those as comments for now.

[2020-10-08 10:54] #20 closed

[2020-10-08 13:10] lostpebble commented on #12
Just updated to 2.0.0 and simplified things, made the interface much more natural and using the installed dependencies option by default (thanks again, was a great change).

The current way to do what you'd like to achieve here, is to provide your dev dependencies directly in the base package file that's a passed into the plugin.

I've been considering allowing passing a relative path as the first

[2020-10-16 13:11] moshest commented on #12
I think most people will use this line: `const packageJson = JSON.parse(readFileSync(path.join(__dirname, "./package.json")).toString());`

So I would prefer to let the library doing that by default and then handle all edge cases using flags in the options argument.

My existing code looks like this:

[code]

I think we can make it looks like this:

[code]

[2020-10-16 14:17] lostpebble commented on #12
What you're trying to achieve in the first one can now be done quite simply though using the new API:

[code]

OR

[code]

`useInstalledVersions` is defaulted to `true` now - and it will pull the correct version of any dependency that's inside the base package.json passed as the first argument. Or if you set the version directly- it will use that one.

I do like the idea of passing in a first argu

[2020-10-25 15:30] lorenzodallavecchia opened #23 "Webpack 5 watch loop"
The plugin has some issues running in webpack 5.
When using `--watch` the plugin will continuisly cause the output package.json to be re-emitted, causing an endless loop of recompilations.

In all modes (even when not using `--watch`) webpack 5 shows these deprecation warnings:

[code]

I suspect that the last warning about modifying `assets` is the one that causes the endless recompilation loop.

[2020-10-25 19:15] lostpebble commented on #23
Thanks for bringing it to attention @lorenzodallavecchia .

Will have to upgrade to Webpack 5 and probably use the new ChunkGraph API- as mentioned in the deprecation warning there. Will try and take a look at this soon, otherwise PRs are always welcome!

[2020-10-27 08:01] lorenzodallavecchia commented on #23
Thanks for the quick response @lostpebble.
I would be happy to help.

First of all I have reduced my test case since I first saw the problem in a rather complex build with sub-compilations that depend on each other output.
The issue that is causing the infinite loop is the fact that the plugin is creating a new asset source each time, which prevents webpack from recognizing that it is trying to em

[2020-10-28 21:50] lorenzodallavecchia commented on #23
Anyway, I think it is possible to easily support webpack 5 without dropping support for the previous versions.
So there is no need for breaking changes.
I will open a PR shortly.

[2020-10-29 11:51] lostpebble commented on #23
Thanks @lorenzodallavecchia , appreciate you looking into this! I've been a bit swamped with regular work lately...

I think we should at least support Webpack 4 and 5. Since 4 has been out for a long time now. But if possible, have even more backwards compatibility- as it is now. If you can find a way to support 5 without dropping that support, it would be great!

[2020-10-29 23:10] #23 closed

[2020-11-26 15:33] Mariede opened #26 "socket.io dependency"
Hi there.. Any idea why it is not adding the socket.io lib to depencies list after bundled?

[2020-11-26 17:26] lostpebble commented on #26
Hi there,

You'll have to give a little more context about your configuration for me to know what's going on. It be added if its being used in the code you are bundling and the plugin is set up to `useInstalledVersions`. Otherwise, you might be bundling socket.io and it won't be seen as an external dependency.

It depends on your config and setup, so will need to see more context to debug.

[2020-11-26 18:22] Mariede commented on #26
The lib  is required just like all the other dependencies...

const io = require('socket.io');

and it's not allowed to be bundled in webpack config (for sure it is not)

externals: [
	NodeExternals()
],

funny thing, in a list of about 20 dependencies only socket.io doesn't come anymore. It used to be ok a few time ago... Recently I have updated socket.io to version 3.~ and everything else to lat

[2020-11-27 00:38] Mariede commented on #26
Maybe it can help if you want to check the webpack file here:

https://github.com/Mariede/boiler-server/blob/master/.webpack.config.js

The socket.io require really has nothing special with it.. the only thing I can think that differs from other ones is the dot in the name of the lib... very odd. Anyway I will update you if I find something new here. Thank you

[2020-11-27 10:11] lostpebble commented on #26
Hmm very strange indeed. Would have to run some tests with a new project that includes `socket.io` soon then. Can't think the module name is causing the issue... though anything is possible.

I'm currently very swamped with regular work things, but will try take a look at some point. Otherwise, keep me updated if you discover something.

[2020-11-27 13:04] dolanmiu commented on #26
We are also having this issue

[2020-11-27 13:26] barnabasbartha commented on #26
It does not work when set explicitly neither using:
`dependencies: {
'socket.io': '3.0.1'
}`

[2020-11-27 14:38] lostpebble commented on #26
I've managed to reproduce the problem in one of my projects. Going to take a look now about resolving it, seeing as it seems to be quite widespread.

[2020-11-27 15:12] lostpebble commented on #26
It all came down to this obscurity:

These two are not equal, in the context of `moduleName = "socket.io"`.

[code]

[code]

(the second one is the fix that works for `"socket.io"`)

Very strange, and I guess it did have something to do with the period in the name...

I've pushed an update- please check out `2.1.1` and let me know if there's still any issues.

[2020-11-27 16:58] Mariede commented on #26
@lostpebble I have checked the build with the new updated plugin and it is working like a charm now. Thank you.

[2020-11-27 17:00] #26 closed

[2020-12-01 20:17] pixelplanetdev opened #27 "Always generates empty dependencies since upgrade"
I recently upgraded my working configuration from generate-package-json-webpack-plugin 1.1.2 and  webpack 4.x to:
[code]
and now the generated package.json has always empty dependencies.
[Here the webpack config](https://github.com/pixelplanetdev/pixelplanet/blob/master/tools/webpack.config.web.js)
I first thought it's just some configuration error of mine, but i changed all possible options and a

[2020-12-02 10:18] lostpebble commented on #27
Hi @pixelplanetdev ,

I'll look into this soon.

For now, have you tried using the option `useInstalledVersions: true` ? This may fix your problems and is the recommended way to use the plugin now- instead of relying on the source package files. Though that should still work, so need to see why that's not working in this case.

[2020-12-02 10:21] lostpebble commented on #27
What's interesting is that you don't seem to be getting a debug log along the lines of:

[code]

Which should be showing, since you are using this option and passing in `[path.resolve(__dirname, '../package.json')]`

[2020-12-02 10:27] lostpebble commented on #27
Although, if you are never getting the log:

[code]

Then that points to a probable bigger issue. Perhaps the latest version of webpack isn't compatible, although we did make changes to make it work with webpack 5- I wonder if something changed on their side.

[2020-12-02 17:04] pixelplanetdev commented on #27
hi, thanks for the fast reply.
Yes, i did try with `useInstalledVersion: true`. Same result.
At the verbose log that i posted i had that one dependency removed to make sure that i have a minimum configuration.

Here again with that one dependency set:
[code]

[2020-12-02 17:10] pixelplanetdev commented on #27
and here with `useInstalledVersion: true` and no `sourcePackageFilenames`

[code]

[2020-12-02 17:32] lostpebble commented on #27
Okay, well then it seems likely that this is an issue with a more recent Webpack version 5... Since it seems you are getting no indication that the plugin is picking up any imports during the build process.

For a quick test can you attempt a build after downgrading to Webpack 4, and see if you get the same outcome? Would help a lot to determine where the potential issue is.

[2020-12-02 17:58] pixelplanetdev commented on #27
Here with webpack 4.44.2, where it works.
[code]

[2020-12-02 18:17] pixelplanetdev commented on #27
wait, i didn't include the whole logs with the stats after compilation:
with 4.44.2:
https://pastebin.com/F3RA9K0f
with 5.9.0 (or any 5.x build):
https://pastebin.com/aGgwiW1e
It's talking about orphan modules here.

[2020-12-02 20:17] lostpebble commented on #27
Thanks for checking that out @pixelplanetdev !

Okay, so I guess the library at this moment doesn't support Webpack 5 yet. Will need to look into providing proper support for it in the coming days, and what exactly that entails.

[2020-12-03 17:03] #27 closed

[2020-12-03 17:04] lostpebble commented on #27
Published 2.1.2 with the fixes

[2020-12-09 12:25] zero88 opened #29 "Influx db client doesnt include in final package.json"
Hi,
Currently, I'm encountering weird issue with `@influxdata/influxdb-client` in plugin `v1.1.2` and even after upgraded to latest plugin version, still same issue

v1.1.2
`GPJWP: Ignoring module without package.json: external "@influxdata/influxdb-client"`

v2.1.0
![image](https://user-images.githubusercontent.com/10863525/101629211-94518880-3a53-11eb-9bdb-d80266b93ce2.png)

![image](https://use

[2020-12-09 12:29] lostpebble commented on #29
Thanks for reporting. I think this may have something to do with how we're looking for the `package.json` file.

Will look into it now.

[2020-12-09 12:49] lostpebble commented on #29
I've just tested with `@influxdata/influxdb-client` on my end- and it worked just fine.

I'm not sure why your side is not showing? Are you sure that where you are webpacking your files, that in parent node_modules folders it is able to find `@influxdata/influxdb-client` ?

[2020-12-09 12:50] lostpebble commented on #29
... Looks like you didn't update to the latest version - so that's probably it. Please update to the latest version. `2.1.2`

[2020-12-09 14:00] #29 closed

[2020-12-09 14:07] zero88 commented on #29
Thank for your quick response.
Actually, this repository doesn't have tag for `2.1.2` then I thought `2.1.0` as latest tag. haha

After some test, I realize the error might come from `influxdb-client` itself or from `require.resolve`. When I tried `@influxdata/influxdb-client@1.9.0`, this plugin cannot resolve as above log. but when I using `@influxdata/influxdb-client@1.8.0`, it works well.
I alr

[2020-12-09 14:34] lostpebble commented on #29
No, but you should always check on NPM what is the actual latest version - as sometimes, patch releases are not tagged.

My tests were done with `1.9.0` and it worked fine - so this must be a problem on your side. Make sure you were actually using the plugin version `2.1.2`.

[2021-05-17 21:14] jreilly-lukava opened #30 "Cannot read property 'tap' of undefined"
This appears happen because compilation.hooks.processAssets is undefined.

I really don't know much about webpack, but was using this package in my monorepo to generate a package json.  It worked fine when using Angular 11 with Webpack 4, but now it looks like it's having an issue maybe since Angular uses webpack 5?

[2021-05-31 06:25] kraiz commented on #30
I wonder why this is happing as release 2.1.0 intended to add 'Webpack 5 support' :/

[2021-06-04 16:43] jreilly-lukava commented on #30
I've created an [example repo](https://github.com/jreilly-lukava/example).  It's a fairly stock nx workspace with angular & nestjs.  I of course added a few things to do the custom webpack stuff to reproduce this issue.  Just install everything and then `pnpx nx build api`

[2021-06-06 08:52] lostpebble commented on #30
I tried to fix it but I don't use Webpack 5 and I didn't manage to get it working correctly. I'd perhaps need someone who works with Webpack 5 to take a closer look.

[2021-06-06 10:17] lostpebble commented on #30
I think there is some funny business happening here- because if you really were using Webpack 5, these methods would not be undefined. I think somehow parts of your compilation might still be using an older version of Webpack and its clashing in the plugin.

This is my best guess at the moment, because a lot of the things I've tried seem to indicate that it should work with Webpack 5- as there is

[2021-06-06 11:07] MaGnaL commented on #30
I'm facing that issue too.

I think my case is most likely the same as the one of @jreilly-lukava. Nrwl/Nx workspace with Angular applications and NestJS backends. The plugin is used to generate a package.json for the NestJS backend. Angular applications include their dependencies directly into bundles. NestJS or NodeJS applications in general don't do that, that's why a package.json is needed for

[2021-06-06 12:00] MaGnaL commented on #30
When I force it to use the implementation for webpack 4 (`const isWebpack5 = false;`) it works as before.

[2021-06-08 09:42] lostpebble commented on #30
Thanks @MaGnaL - appreciate you looking into it and confirming my suspicions.

So I take it most of you here (maybe all) are using the same kind of tooling then? I don't work with Angular, but it seems to be quite a substantial suite of things that run in that NX workspace with NestJS etc. I feel like somewhere in that pile of plugins there's a conflict going on.

An extra option to try next is to

[2021-08-18 07:36] lostpebble commented on #19
Since I have never encountered this issue, and we have got no response about how it is happening- I'm closing this for now.

[2021-08-18 07:36] #19 closed

[2021-08-25 17:56] j opened #31 "Dependencies of an imported mono-repo library does not include it's dependencies"
I have this directory structure:

[code]

If `graphql` imports `auth` which within `auth` (no package.json) requires 3rd party package `graphql-middleware`, `graphql-middleware` is not included in the final `package.json`.

I'm using Nx CLI.  So both `auth` and `config` are included in the final bundle, though I'm not bundling any external dependency within `auth` or `config`.  How can I go about

[2021-09-01 16:41] lostpebble commented on #31
Hi @j . Are you running on Webpack 5? And have you updated to the most recent version, `2.1.3` ? There were some issues with Webpack 5 that the newer version- I have personally just upgraded my projects to Webpack 5 and had the same problem only to realize I wasn't at the latest version, and after updating it did work for me.

Otherwise I fear you may be running into a similar issue that others ha

[2021-09-02 18:50] MaGnaL commented on #30
Hey again,
I don't think that the code can be changed to detect the actually available version of webpack correctly or at least I couldn't find a way to do it.
What I did is added a new option to force the plugin to use one version or the other by overwriting the `isWebpack5` flag.

It's not nice or elegant but it works.

[2021-09-07 16:08] xeroxstar opened #32 "EISDIR: illegal operation on a directory, read"
I am getting an error `(EISDIR: illegal operation on a directory, read)`:

[code]
if I provide the path with the package.json:
[code]

i am getting this error:
`Error: ENOENT: no such file or directory, open 'C:\Users\ts\Desktop\work\project\dist\package.json'`

once I remove the plugin everything works fine.

[2021-09-07 16:20] xeroxstar commented on #32
I fixed it by adding  `package.json` file  in ` C:\Users\ts\Desktop\work\project\dist\` folder and once I run the webpack it works but i assumed that this plugin will generate `package.json` file automatically.

[2021-09-07 16:20] #32 closed

[2021-09-08 07:26] lostpebble commented on #32
Hi @xeroxstar ,

I think you may be using the library incorrectly. The `sourcePackageFilenames` option is not the destination of the `package.json` file- at the time of building your app, `C:\Users\ts\Desktop\work\project\dist\package.json` _does not exist_ - so rightfully, the plugin cannot find it. The `sourcePackageFilenames` option is explained more in the docs- but basically its for "sourcing

[2021-09-08 07:31] lostpebble commented on #30
@MaGnaL - that could be the best solution then. Perhaps I should add an enum option in the plugin that can force the plugin to, currently, act as either `webpack4` or `webpack5`.

[2021-09-08 07:45] MaGnaL commented on #30
I did the same thing and can provide a PR for that if you want.

[2021-09-08 07:46] lostpebble commented on #30
No worries- I've just created the option and will be updating the version now, thanks though!

[2021-09-08 08:04] lostpebble commented on #30
I've released 2.2.0 - https://github.com/lostpebble/generate-package-json-webpack-plugin/releases/tag/2.2.0

Please let me know if this works fine for you guys. Hopefully this puts and end to the Nx woes.

[2021-09-08 08:18] lostpebble commented on #31
Hi @j (btw, that's crazy you managed to get that username 😆 ),

I've released 2.2.0 - https://github.com/lostpebble/generate-package-json-webpack-plugin/releases/tag/2.2.0

Please let me know if this fixes your issue. Set the new `forceWebpackVersion` option to `webpack5`. Hopefully this puts and end to the Nx woes.

[2021-09-08 09:09] MaGnaL commented on #30
Looks like it works 👍 thank you.

[2021-09-08 09:16] lostpebble commented on #30
Cool, will close this for now. If anyone has any further issues feel free to comment and re-open.

[2021-09-08 09:16] #30 closed

[2021-09-13 13:31] erlichmen opened #34 "Don't try to resolve package that are already in additionalDependencies"
When using generate-package-json-webpack-plugin on packages that are using firebase-function, I get the error:

`"GPJWP: Ignoring module without a found package.json: firebase-functions ("firebase-functions/package.json" couldn't resolve)"`

The actual error (that is hidden) is:

`Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: Package subpath './package.json' is not defined by "exports" in <>/node_modules

[2021-09-14 11:22] lostpebble commented on #34
Hmm this is rather annoying.

Is there no other method we could use to actually get the real `package.json` for the module? Like is there no Nodejs method that gives us the "base folder" of any package... Will have to do some research. Another option could be to create something manual that does the Node lookup process using the file system modules- I'm sure some packages exist to do that too, but

[2021-09-14 11:30] #31 closed

[2021-09-14 11:37] lostpebble commented on #12
Going to close this for now as the current functionality (where additional dependencies are directly defined inside the first argument instead of having to provide them as an option) clashes too much with the requested functionality. Also, generally the idea is to be generating a _new_ `package.json`, so I prefer the usage of the library to be more deliberate in how the new `package.json` file is

[2021-09-14 11:37] #12 closed

[2021-09-14 15:08] lostpebble commented on #34
@erlichmen please try the new version (2.3.0) - I've changed the way it looks up `package.json` files to get around the current Node.js limitations (which I agree is silly and a bit short-sighted considering how modules have been consumed for ages already).

Let me know if that works for you.

[2021-09-14 22:40] erlichmen commented on #34
@lostpebble yes it fixes my problem, thank you for the prompt response

[2021-09-15 10:42] aquacash5 commented on #34
Just started using this yesterday to generate AWS lambda functions. The plugin got tripped up when I imported `mysql2/promise`. However it didn't throw any errors, the package was just not included in the new package.json file.

This is fixed in the latest update though.

[2021-09-15 10:44] erlichmen commented on #34
I suggest that errors will not be under the log but under a real console
error output.  This will save you from using debug: true to understand
what's going on.

On Wed, Sep 15, 2021 at 1:42 PM Kyle Bloom ***@***.***> wrote:

[2021-09-15 10:50] lostpebble commented on #34
That's great to hear- funnily enough, I think the new resolving method solves these issues because of the way it now cuts off the extraneous parts of the import- so `mysql2/promise` will correctly be searching for only `mysql2` instead, and successfully finding the `package.json`.

While this is a good thing to have for sure- the problem is console output will be massive in some cases because erro

[2021-10-04 07:05] erlichmen commented on #34
Sorry to reopen this but I just now, notice the same issue when "@babel/runtime" is required.
I don't require this directly but I need this in runtime.

When I open debug I see:
[code]

and in the logs:
[code]

[2021-10-04 08:03] lostpebble commented on #34
Hi @erlichmen , no worries- its good to get to the bottom of this stuff.

So, it seems that `@babel/runtime/package.json` can't be resolved. Is this module available to be resolved? That path seems correct, but perhaps its not in Node's module resolve scope for some reason from where Webpack is running. I use the same module and its definitely available at `node_modules/@babel/runtime/package.json

[2021-10-04 10:48] erlichmen commented on #34
Another thing to throw at the mix is the fact that i'm using "yarn workspaces"  I don't know if that has any effect.
The @babel/runtime is at the root workspace node_modules and in the workspace folder it has package.json.

I added conole.error to the catch and I see this:
[code]

Also I think that if getting undefined in (for any package):
[code]
The process should fail as it means that that modu

[2021-10-04 10:55] lostpebble commented on #34
Ahhh... the pain continues with this terrible direction Node.js module resolving is heading. The way to get around the latest changes they made was to resolve the module directly (`@babel/runtime`)- which resolves the "main" file, from which we could deduce the "base" path for the module from which we could resolve the `package.json`. It seems that `@babel/runtime` (and possibly many other such pa

[2021-10-04 12:33] lostpebble commented on #34
@erlichmen please try the next version `2.4.0` - I've added extra stuff that should catch the errors and find the real path needed. I've also made errors in these cases get output to console.error even if debug is turned off.

[2021-10-04 12:58] erlichmen commented on #34
Seems to be working (famous last words), thank you.

[2021-10-04 13:05] #34 closed

[2021-11-02 14:13] vaunus opened #35 "Webpack externals don't seem to be excluded in webpack5"
We've recently updated to webpack 5 and I noticed that some externals, in particular `aws-sdk` are still being added to the package.json generated by this plugin at build time. We're using a monorepo which the root of which is referred to below by `workspaceRoot`.

The relevant parts of my webpack config are as follows:
[code]

I then get this package.json:
[code]

I was expecting `aws-sdk` to not

[2021-11-02 18:15] lostpebble commented on #35
Hi @vaunus ,

Externals that are used by your code are always included in the `package.json` file. Are you sure your bundled code does not reference `aws-sdk` anywhere? Otherwise yes, it would be strange that it is appearing in the final output package.json.

[2021-11-02 20:01] vaunus commented on #35
Right I understand, yes we are using `aws-sdk` in our code so that explains it!

Is there any way of explicitly excluding a package from the generated `package.json` file?

The use case for us is probably quite a common one. We are building for AWS Lambda which already has `aws-sdk` runtimes built in. Given it is ~70M in node_modules I would rather not install it.

[2021-11-02 22:39] lostpebble commented on #35
Ah... okay, I see. That is an interesting use case- though I would think AWS would just not install it then? Since its a native dependency. I would have thought that you deploy your bundled code with the `package.json` (as opposed to an entire installed `node_modules` folder) and they take care of the installation stuff on their side. But I'm not clued up on it.

I think it shouldn't be too hard t

[2021-11-02 23:12] lostpebble commented on #35
@vaunus I just released `2.5.0` please use this version, try out the new option:

[code]

[2021-11-03 09:19] vaunus commented on #35
Thanks so much for the quick turnaround @lostpebble. I've just tested this and it's working great! 🙂

[2021-11-03 09:19] #35 closed

[2022-01-02 22:09] pixelplanetdev opened #37 "GPWP tries to include json files from externals"
I import .json configuration files that my application is supposed to read at launch, so i included them in the webpack externals to not get them bundled
[code]
but the GPJWP plugin, after a recent update, wants to include them and that gives some warnings:

[code]

This didn't happen before, so i thought that might be a bug :)

[2022-01-24 10:47] pixelplanetdev commented on #37
//cc @lostpebble

[2022-01-24 11:28] #37 closed

[2022-01-24 11:34] lostpebble commented on #37
Thanks @pixelplanetdev - I've published your changes to 2.6.0

[2022-01-25 16:20] pixelplanetdev commented on #37
awesome, thanks

[2022-06-23 13:53] dotob opened #39 "option for output filename"
an option to give the created package.json file a different name to not overwrite the existing packagejson would be great

[2022-06-23 14:10] lostpebble commented on #39
It shouldn't be overwriting any existing `package.json` file- as during your Webpack build process it is placed in your build output folder (which should be immutable and created fresh each time).

In what context are you using the plugin where this is an issue?

[2022-06-23 14:20] dotob commented on #39
@lostpebble thanks for pointing this out you're absolutely right. thats the way.

[2022-06-23 14:20] #39 closed

[2022-07-13 21:25] Rush opened #40 "Does this support mono repo?"
Cool idea! If I have such structure, would it be able to identify all packages?
[code]

[2022-07-15 17:02] Rush commented on #40
I have tested your plugin and it works with mono repos just fine!

[2022-07-15 17:03] #40 closed

[2022-07-15 20:08] Rush opened #41 "ts-node is included in package.json"
`ts-node` is used to build the code but not in runtime and yet this plugin finds it as a dependency.

[code]

I added a console.log and this is what it says.
[code]